[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=URadio
Exec=/usr/bin/invoker --type=d -s /opt/uradio/bin/uradio
Icon=/usr/share/icons/hicolor/80x80/apps/uradio.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
